<div class="jumbotron jumbotron-fluid d-none d-sm-block bg-info category">
  <div class="container">
    <h1 class="display-4">Arcade</h1>
    <p class="lead">Purchase tokens to play games. Refill your card to play more games.</p>
  </div>
</div>

<div class="container">

  <div class="row gameAndRefillRow">
    <div class="col-6 gameRow">
      <app-game-center [currentBalance]="currentBalance"
                       class="category"
                        (gamePlayed)="onGamePlayed($event)">
      </app-game-center>
    </div>

    <div class="col-6 userRow">
      <app-user-status [currentBalance]="currentBalance"></app-user-status>
      <hr/>
      <app-card-refill [currentBalance]="currentBalance"
                       class="category"
                        (tokensPurchased)="onTokensPurchased($event)">

      </app-card-refill>
    </div>
  </div>




  <div *ngIf="!showHistory" class="div category">
    <button class="btn btn-info btn-lg" (click)="toggleShowTransactionHistory()">Show Transaction History</button>
  </div>

  <div *ngIf="showHistory" class="div category">
    <button class="btn btn-info btn-lg" (click)="toggleShowTransactionHistory()">Hide Transaction History</button>
  </div>

  <div *ngIf="showHistory && arcadeTransactions.length !== 0" class="category">
    <app-ledger [arcadeTransactions]="arcadeTransactions" class="category"></app-ledger>
  </div>

  <div *ngIf="showHistory && arcadeTransactions.length === 0" class="category">
    <p class="text-secondary fieldDescriptions">You do not have any transactions.</p>
  </div>

</div>
