<div class="row">
  <h2>Transaction History</h2>
</div>

<div class="container-fluid col-md-12">
  <table class="table table-hover">
    <thead class="text-primary">
    <tr>
      <th>Date and Time</th>
      <th>Action</th>
      <th>Action Detail</th>
      <th>Token Change</th>
      <th>Balance After Transaction</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of arcadeTransactions">

      <td>{{transaction.dateAndTime | date: 'medium' }}</td>

      <td>{{transaction.transactionType}}</td>

      <td *ngIf="transaction.transactionType === 'Card Refill'">Purchased {{transaction.numberTokensPurchased}} tokens
        for {{transaction.totalTokenCost | currency: 'USD'}}
      </td>

      <td *ngIf="transaction.transactionType === 'Game Play'">Played {{ transaction.gameTitle}}</td>

      <td *ngIf="transaction.transactionType === 'Card Refill'" class="text-success">
        <fa-icon [icon]="faArrowUp"></fa-icon>
        {{transaction.numberTokensPurchased}}
      </td>
      <td *ngIf="transaction.transactionType === 'Game Play'" class="text-danger">
        <fa-icon [icon]="faArrowDown"></fa-icon>
        {{ transaction.tokensToPlay}}
      </td>

      <td>{{transaction.balanceAfterTransaction}} tokens left</td>
    </tr>
    </tbody>
  </table>
</div>
