.btn {
  margin-bottom: 40px;
  margin-top: 40px;
  align-content: center;
}

.form-group {
  width: 70%;
  margin-bottom: 40px;
}

.totalCost {
  margin-top: 40px;
}

label {
  font-size: 20px;
}

.fieldDescriptions {
  font-size: 20px;
  font-style: italic;
}

.btn {
  margin-right: 20px;;
}


