.btn {
  margin-bottom: 40px;
  margin-top: 40px;
}

.form-group {
  width: 70%;
  margin-bottom: 40px;
}

.alert {
  margin-top: 40px;
}

label {
  font-size: 20px;
}

.fieldDescriptions {
  font-size: 20px;
  font-style: italic;
}

.btn {
  margin-right: 20px;;
}
