<div class="row">
  <h2>Game Center</h2>
</div>

<div *ngFor="let game of games" class="requestBlock shadow p-4 bg-light">
  <h5>Game Title: {{ game.gameTitle }} </h5>
  <h5>Tokens to Play: {{ game.tokensToPlay }} </h5>
  <button *ngIf="hasEnoughTokensToPlay(game.tokensToPlay)"
          class="btn btn-success"
          (click)="playGame(game.gameTitle, game.tokensToPlay)">Play Game</button>

  <div *ngIf="!hasEnoughTokensToPlay(game.tokensToPlay)">
    <p class="text-danger">Current balance too low to play. Please refill your card.</p>
  </div>
</div>
